
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About Us</h2>
        <hr class="light">
        <p class="text-faded">The Romano Group of companies specializes in high quality, entry-level housing. Their activities include the acquisition for immediate and future sale of new homes as well as providing funding for developers in the creation of these assets. The Company operates primarily in Clark County (Washington) where its local contacts and product knowledge gives them an opportunistic advantage in sourcing deals. Quite naturally their investors are primarily Clark County based and consists of seasoned investors who appreciate the reputation and track record of the Romanos. </br>
        <p></p>
        <p class="text-faded">The Romano family has made Vancouver, Washington home for thirty five years. Romano Financial was founded by the family patriarch, Jerry Romano, who is still active but has since passed control to his son. Kess Romano is an economics graduate of George Fox University. He has been involved in all types of mortgage origination including FHA, VA and FNMA loans. He entered the industry by working for a local mortgage bank in loan origination. He then gained extensive construction lending experience before participating in the various Romano real estate businesses.
                  </p>
        <a href="#projects" class="page-scroll btn btn-default btn-xl">Projects</a>
        <a href="#contact" class="page-scroll btn btn-default btn-xl">Contact</a>
      </div>
    </div>
  </div>
</section>
