
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button" data-dismiss="alert" class="close" aria-labe="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>
      <h1>Romano Capital</h1>
      <hr>
      <h2>Invest With Confidence</h2>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">More About Us</a>
    </div>
  </div>
</header>
