
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Projects Map</h2>
        <hr class="primary">
        <a id="projects-list-button" href="<%= projects_path %>" class="btn btn-primary btn-xl">Project List</a>
        <h4>Click on a marker for project name, then click on the project name for more information</h4>
      </div>
    </div>
  </div>
  <div class="container wow zoomIn">
    <div class="row">
      <div id="map-container" class="col-lg-12 text-center">
        <div id="map" style='height: 400px;'></div>
        <script type="text/javascript" charset="utf-8">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
        </script>
      </div>
    </div>
  </div>
</section>
