<div class="col-md-8 col-md-offset-2 text-center project-index-single">
  <a href="<%= project_path project %>">
    <div class="col-md-4 project-index-image-container">
      <%= image_tag "sample_asset.jpg", class: "project-image-index" %>
    </div>
    <div class="col-md-8">
      <h3><%= project.name %></h3>
      <p><%= project.address %></p>
    </div>
  </a>
</div>
