<a href="<%= project_path project %>">
  <div class="col-md-8 col-md-offset-2 text-center project-index-single">
    <div class="col-md-4 project-index-image-container">
      <img class="project-image-index" src="<%= image_url 'sample_asset.jpg' %>" />
    </div>
    <div class="col-md-8">
      <h3><%= project.name %></h3>
      <p style="margin-bottom: 5px;"><%= project.address %></p>
      <p style="text-decoration: underline; margin-bottom: 1px;">Overall Project Progress</p>
      <div class="progress" style="margin-bottom: 5px;">
        <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div>
      </div>
    </div>
  </div>
</a>
