<a href="<%= project_path project %>">
  <div class="col-md-8 col-md-offset-2 text-center project-index-single">
    <div class="col-md-4 project-index-image-container">
      <img class="project-image-index" src="<%= image_url 'sample_asset.jpg' %>" />
    </div>
    <div class="col-md-8">
      <h3><%= project.name %></h3>
      <p><%= project.address %></p>
    </div>
  </div>
</a>
