<div class="container offset project-container">
  <div class="col-md-6" style="text-align: center;">
    <h1><%= @project.name %></h1>
    <p><%= @project.address %></p>
  </div>
  <%= render 'projects/project_map' %>
</div>
