// offset for nav
#login-container {
  margin-top: 51px;
  padding-top: 50px;
  height: 400px;
  div h2 {
    text-align: center;
  }
}

.login-button {
  width: 100%;
  margin: 5px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
