// Place all the styles related to the member_home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-info-container {
  hr {
    border-color: black;
    border-width: 1px;
    max-width: 75%;
    margin-top: 2px;
  }
}

.member-info-container > div {
  margin-bottom: 70px;
}
