// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-container {
  padding-top: 25px;
}

.circle-graph-container {
  margin-bottom: 20px;
}

.container h1,h3 {
  text-align: center;
}

.address-header {
  margin-top: 0;
  margin-bottom: 20px;
}

@media(min-width:1000px) {
  .project-container {
    height: 600px;
    padding-top: 25px;
  }
}
