// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-container {
  padding-top: 25px;
}

#project-index-container {
  a {
    color: black;
  }
}

.project-index-single {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-index-image-container {
  padding: 5px 0;
}

@media(min-width:993px) {
  .project-image-index {
    width: 100%;
  }
}

@media(max-width:992px) {
  .project-image-index {
    width: 200px;
  }
}

.circle-graph-container {
  margin-bottom: 20px;
}

.container h1,h3 {
  text-align: center;
}

.address-header {
  margin-top: 0;
  margin-bottom: 20px;
}

@media(min-width:1000px) {
  .project-container {
    height: 600px;
    padding-top: 25px;
  }
}

.project-details-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-details-button {
  width: 100%;
  background-color: #71BA53;
  border-radius: 10px;
  h3 {
    margin-top: 10px;
  }
}

.project-details-button:focus {
  outline: 0;
}

