
<footer class="footer-distributed">

  <div class="footer-left">

    <!-- <h3>Company<span>logo</span></h3> -->
    <a href="#page-top" class="page-scroll"><img src="<%= image_url 'romano_full_logo.png' %>" /></a>

    <p class="footer-links">
      <a href="/#page-top">Home</a>
      路
      <a href="/#about">About</a>
      路
      <a href="/#contact">Contact</a>
      路
      <a href="/#projects">Projects</a>
      路
      <a href="#">Member Login</a>
    </p>

    <p class="footer-company-name">Romano Capital &copy; <%= Date.today.year %></p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <a href="https://www.google.com/maps/dir/Current+Location/8917+NE+Fourth+Plane+Blvd+Vancouver+WA+98662" target="_blank"><p><span>123 Fake Street</span> Vancouver, WA<span id="directions">click for directions</span></p></a>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>(360) 567-0774</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@romanofinancial.com">support@romanofinancial.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
